<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/1edd2b4b-293b-4d41-967d-efed3a8c679d/resourceGroups/Capacitacion-Ciberseguridad-_group/providers/Microsoft.Web/sites/Capacitacion-Ciberseguridad-</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://capacitacion-ciberseguridad--hbgxefehgwb4e8eg.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c8d2e5cb-512d-4ca3-85ba-bd147256476e</ProjectGuid>
    <publishUrl>ftp://waws-prod-yt1-003dr.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>Capacitacion-Ciberseguridad-\$Capacitacion-Ciberseguridad-</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>